{% trans_default_domain 'FOSUserBundle' %}
{% include "user/navbar_user.html.twig" %}


<section id="panel">
    <div class="container">
        <div class="box">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-user">
                <div class="text-center panel-heading">
                    <div class="pull-left"><h3><div style="float: left; color: cyan;">|</div>Moje Dane</h3><br/></div>
                </div>
                <div class="panel-body">
                    <table class="table table-stripped table-condensed">
                        <tr>
                            <th>Użytkownik</th>
                            <td>{{ app.user.username }}</td>
                        </tr>
                        <tr>
                            <th>Samorząd</th>
                            <td>{{ app.user.samorzad.samorzad }}</td>
                        </tr>
                        <tr>
                            <th>Województwo</th>
                            <td>{{ app.user.samorzad.wojewodztwo }}</td>
                        </tr>
                        <tr>
                            <th>Adres</th>
                            <td>{{ app.user.samorzad.ulica }} {{ app.user.samorzad.nrdomu }} {{ app.user.samorzad.kodpocztowy }} {{ app.user.samorzad.miejscowosc }}</td>
                        </tr>
                        <tr>
                            <th>E-mail Samorządu</th>
			     <td>{{ app.user.samorzad.email }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-user">
                <div class="panel-heading">
                

                </div>
                <div class="panel-body">
                    {% block body %}
		    {%endblock%}
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
</div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->
