{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

    {% include "admin/navbar_admin.html.twig" %}
<section id="panel">
    <div class="container">
        <div class="box">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-user">
                <div class="text-center panel-heading">
                    <div class="pull-left"><h3><div style="float: left; color: cyan;">|</div>Edycja użytkownika</h3><br/></div>
                </div>
                <div class="panel-body">
                    <table class="table table-stripped table-condensed">
                        <tr>
                            <th colspan="2" class="text-center">
                                Poprzednie dane
                            </th>
                        </tr>
                        <tr>
                            <th>Użytkownik</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Samorząd</th>
                            <td>{{ user.samorzad.samorzad }}</td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center">E-mail</th>
                        </tr>
                        <tr>
			                <td colspan="2" class="text-center">{{ user.email }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-body">
                    {% for m in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">{{ m }}</div>
                    {% endfor %}
                    {{form_start(form)}}
                    <div class="form-inline row">
                        <div class="col-md-12">
                            {{ form_errors(form.username) }}
                            {{ form_errors(form.email) }}
                            {{ form_errors(form.samorzad) }}
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='col-md-2'><b>Login</b></div>
                        <div class='col-md-10'>{{ form_widget(form.username) }}</div>
                    </div>
                    <div class='form-inline form-group'>
                        <div class='col-md-2'><b>Email</b></div>
                        <div class='col-md-10'>{{ form_widget(form.email) }}</div>
                    </div>
                    <div class='form-inline form-group'>
                        <div class='col-md-2'><b>Samorząd</b></div>
                        <div class='col-md-10'>{{ form_widget(form.samorzad) }}</div>
                    </div>
                    <div class="row  col-md-10 col-md-offset-2">
                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-lg btn-block'},  'label': 'Edytuj' }) }}
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
</div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->
{% endblock %}
