{% extends 'base.html.twig' %}

{% block body %}
    {% include "user/navbar_user.html.twig" %}
    <div class="container" style="padding-top:78px">
    <div class="panel">
        <div class="panel-heading">
            <h3><div style="float: left; color: cyan;">|</div>  Nowa umowa
            </h3>
        </div>
        <div class="panel-body">
            {% for m in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">{{ m }}</div>
            {% endfor %}
            {{form_start(form)}}
            <div class="form-inline row form-group">
                <div class="col-md-12">
                    {{ form_errors(form.kwota) }}
                    {{ form_errors(form.pkd) }}
                    {{ form_errors(form.zadanie) }}
                    {{ form_errors(form.podmiot) }}
                    {{ form_errors(form.uwagi) }}
                </div>
            </div>
            <div class='form-inline row form-add form-group'>
                <div class='col-md-2'>{{ form_label(form.kwota) }}</div>
                <div class='col-md-10'>{{ form_widget(form.kwota) }}</div>
            </div>
            <div class='form-inline row form-add form-group'>
                <div class='col-md-2'>{{ form_label(form.pkd) }}</div>
                <div class='col-md-10'>{{ form_widget(form.pkd) }}</div>
            </div>
            <div class='form-inline row form-add form-group'>
                <div class='col-md-2'>{{ form_label(form.zadanie) }}</div>
                <div class='col-md-10'>{{ form_widget(form.zadanie) }}</div>
            </div>
            <div class='form-inline row form-add form-group'>
                <div class='col-md-2'>{{ form_label(form.podmiot) }}</div>
                <div class='col-md-10'>{{ form_widget(form.podmiot) }}</div>
            </div>
            <div class='form-inline row form-add form-group'>
                <div class='col-md-2'>{{ form_label(form.uwagi) }}</div>
                <div class='col-md-10'>{{ form_widget(form.uwagi) }}</div>
            </div>
            <div class="form-inline row form-add col-md-10 col-md-offset-2">
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-lg btn-block'},  'label': 'Dodaj' }) }}
            </div>
            {{form_end(form)}}
        </div>
    </div>
    </div>{% endblock %}
