{% extends 'base.html.twig' %}

{% block body %}
    {% for m in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">{{ m }}</div>
    {% endfor %}<br />
    <h1>Cyka</h1>
    {#{{ form(form) }}#}
    {{ form_start(form) }}
    {{ form_widget(form.attachment) }}
    <input type="submit" class="btn btn-lg btn-primary" value="{{ 'Submit' }}" name="form.submit"/>
    {{ form_end(form) }}
    <h2>Cyka</h2>
    <table class="table">
        <thead>
        <tr>
            {% for krotka in headers %}
            <th class="text-center">{{ krotka }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for linia in data %}
            <tr class="info text-center">
                {% for krotka in linia %}
                    <td>{{ krotka }}</td>
                {% endfor %}

            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
