{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/form.css') }}" rel="stylesheet">
    {% endblock %}
{% block body %}
    {% include "user/navbar_user.html.twig" %}
    {% for m in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">{{ m }}</div>
    {% endfor %}<br />
<div class="container" style="padding-top:78px">
    <h1>Cyka</h1>
    {#{{ form(form) }}#}
    {{ form_start(form) }}
    {{ form_widget(form.attachment) }}
    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-lg', 'value': 'Importuj'} }) }}
    {{ form_end(form) }}
    <h2>Cyka</h2>
    <table class="table">
        <thead>
        <tr>
            {% for krotka in headers %}
            <th class="text-center">{{ krotka }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for linia in data %}
            <tr class="info text-center">
                {% for krotka in linia %}
                    <td>{{ krotka }}</td>
                {% endfor %}

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}

