{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% for m in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">{{ m }}</div>
    {% endfor %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
        <div class='form'>
            {{ form_errors(form.email) }}
            {{ form_errors(form.username) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_widget(form.username, { 'attr': {'placeholder': 'nazwa użytkownika'} }) }}
                    </div>
                    <div class="form-group col-md-6">
                    {{ form_widget(form.email, { 'attr': {'placeholder': 'email'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="col-md-6">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'hasło'} }) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'powtórz hasło'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="col-md-12 form-group" style="height:30px">
                        {{ form_widget(form.samorzad) }}
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="{{ 'registration.submit'|trans }}" />
                    </div>
                </div>
            </div>
        </div>
    {{form_end(form)}}

{% endblock %}